/*******************************
  BASE 
  *******************************/

  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a{
    text-decoration: none;
  }

  img{
    max-width: 80%;
  }

  input{
    outline: 0;
    border: none;
  }






/*******************************
 BODY 
 *******************************/


 body{
  background-color: #eee;
  background-image: url('../images/wood.jpg');
  background-attachment: fixed;
  color: #757677;
  font-size: 62.5%;
  font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana";
}


/*******************************
 MAIN NAV
 *******************************/
 

 .navbar{
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
}




.main-nav{
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1140px;
  margin: 0 auto;
  display: none;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  font-size: 1.4em;
  letter-spacing: .1em;
  background-color: #fff;
  background-color: rgba(255,255,255,1);
  text-transform: uppercase;
  
}


.main-nav a {
  color: #6d6e70;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.main-nav a:hover{
  opacity: .6;
}


.main-nav__link{
  display: inline-block;


  
}



/*******************************
 MAIN CONTENT 
 *******************************/


 .content{
  max-width: 1140px;
  margin: 30px auto;
  background-color: #fff;
  position: relative;
  overflow: hidden;

}

.wrapper{
  width: 80%;
  margin: 0 auto;
}





/*******************************
 COUNTDOWN SECTION
 *******************************/
 
 .countdown{
  display: -webkit-flex;
  -webkit-align-items: center;
  text-align: center;
  padding-top: 100px;
}


.clock{
  font-size: 2.4em;
  color: #6d6e70;
  margin-top: 60px;
  margin-bottom: 60px;
}

.avatar-baseline{
 width: 90%;
 height: 1px;
 margin-top: -2px;
 margin-bottom: 10px;
 margin: -2px auto 10px;
 background-color: rgba(188, 207, 228, 0.22);;
}

img.scroll-arrow {
  /*width: 100%;*/
  position: relative;
  left: -2%;
  margin: 30px 0;
}


.floating{
  animation-name: floating;
  -webkit-animation-name: floating;

  animation-duration: 1.5s; 
  -webkit-animation-duration: 1.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0%);  
  }
  50% {
    transform: translateY(8%);  
  } 
  100% {
    transform: translateY(0%);
  }     
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);  
  }
  50% {
    -webkit-transform: translateY(8%);  
  } 
  100% {
    -webkit-transform: translateY(0%);
  }     
}


/*******************************
 INSTAGRAM SECTION
 *******************************/


 .instagram{
  overflow: hidden;
  position: relative;
  padding-top: 30px;
}


 /*.instafeed{
  text-align: center;
  width: 100%;
  padding: 30px;
  }*/

  .instafeed{
    /*width: 281%;*/
    width: 3200px;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);

  }

  #instafeed{
    position: absolute;
    /*transform: translateX(0%);*/
    animation: instagramScroll 120s linear infinite;
    -webkit-animation: instagramScroll 120s linear infinite;
  }

  #instafeed-secondary{
    /*transform: translateX(-100%);*/
    animation: instagramSecondaryScroll 120s linear infinite;
    -webkit-animation: instagramSecondaryScroll 120s linear infinite;
  }

  .instafeed img{
    float: left;
    /*-webkit-filter: grayscale(90%);*/
    transition: filter 3s ease;
    -webkit-transition: -webkit-filter 3s ease;


  }  

/*  .instafeed img:hover{
   -webkit-filter: none;
  }*/

   

/*   .instafeed img:hover .instafeed{
   -webkit-animation-play-state: paused;
   animation-play-state: paused;
  }
*/




  @keyframes instagramScroll {
    0% {transform:translateX(0);}
    100% {transform:translateX(100%);}
  }

  @-webkit-keyframes instagramScroll {
    0% {-webkit-transform:translateX(0);}
    100% {-webkit-transform:translateX(100%);}
  }

  @keyframes instagramSecondaryScroll {
    0% {transform:translateX(-100%);}
    100% {transform:translateX(0%);}
  }

  @-webkit-keyframes instagramSecondaryScroll {
    0% {-webkit-transform:translateX(-100%);}
    100% {-webkit-transform:translateX(0%);}
  }




/*******************************
 MESSAGES SECTION
 *******************************/
 .messages{
  height: 500px;
  background-color: #6d6e70;
}




/*******************************
 EVENT DETAILS SECTION
 *******************************/

 .details{
  background-color: #d06060;
  text-align: center;
  padding: 100px 0;
}

.details img {
  max-width: 60%;
}

.getdirections{
  background-color: #FFFFFF;
  font-size: 2em;
  margin-top: 60px;
  padding: 15px 30px;
  text-transform: capitalize;
  color: rgb(208, 96, 96);
  border: 1px solid transparent;
  transition: all .2s ease;
}

.getdirections:hover{
  background-color: rgb(208,96,96);
  color: white;
  border: 1px solid white;
}






/*******************************
 MAP SECTION
 *******************************/
 .map-container{
   position: relative;
   padding-bottom: 40%;
   height: 0;
   overflow: hidden;
 }




 .googlemap {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*******************************
HONEYFUND SECTION
*******************************/
.honeyfund__gallery{
  display: -webkit-flex;
  display: flex;
}

.honeyfund__gallery__item{
  height: 15vw;
  width: 100%;
}

.honeyfund__gallery__item:first-child{
  background-image: url('http://36.media.tumblr.com/1387afa64c7a57a03ab57ebc03597926/tumblr_nnw47ei7Ln1st5lhmo1_1280.jpg');
}

.honeyfund__gallery__item:nth-child(2){
  background-image: url('http://36.media.tumblr.com/c5d426af46a281611f286a9accef83ca/tumblr_nndj4wwY821st5lhmo1_1280.jpg');
}

.honeyfund__gallery__item:nth-child(3){
  background-image: url('http://40.media.tumblr.com/c26fc659cdcd53ef1796debc21de52f6/tumblr_nnn7a2T31e1st5lhmo2_1280.jpg');
}




/*******************************
FORM SECTION
*******************************/


.rsvp{
  padding: 100px 0;
  background-color: #7EB3BB;
  color: #fff;
  text-align: center;

}


.rsvp__image{
  max-width: 30%;
}

.rsvp__form, .rsvp__form__info{
  font-size: 2.0em;
}

.rsvp__form, .rsvp__form-expanded{
  width: 70%;
  margin: 40px auto;

}



input[type='text'],[type="email"], .rsvp__form__info__notes__textarea{
  display: block;
  margin: 30px auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 50px;
  color: #7f7f7f;
}

input[name='family-member']{
  margin: 0;

}

#plus1__text-input{
  display: none;

}

#family-member__input-section{
  display: none;
}

.family-member__input{
 display: -webkit-flex;
 display: flex;
 -webkit-justify-content: space-between;
 justify-content: space-between;
 text-align: left;
 margin:30px auto;
 /*will be shown with js when plus family is clicked*/
}

.add-family-member-btn{
  height: 50px;
  width: 50px;
  margin-left: 2%;
  cursor: pointer;
}

/*.add-family-member-btn:hover #add-family-member-btn-circle{
  fill: red;
}

.add-family-member-btn:hover #horizontal-line{
  stroke: white;
}

.add-family-member-btn:hover #vertical-line{
  stroke: red;
}
*/



.rsvp__form__radio-selection{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;

}

.rsvp__form__radio-selection:first-child{
  display: none;
}

.whos-attending, .rsvp__form__info__notes,
.rsvp__form__submit-button{
  width: 70%;
  margin: 0 auto;
}

.rsvp__form__info__notes{
  text-align: left;
  margin-top: 60px;
}

.rsvp__form__info{
  padding: 40px 0;
  background-color: #6fa2a9;
  display: none;
}

.rsvp__form__info__notes__textarea{
  height: 200px;
  padding-top: 20px;
  resize: none;

}


input[type="radio"] {
  height: 30px;
  width: 30px;
  vertical-align: middle;
  border: none;
  -moz-appearance: none;
  /*-moz-border-bottom-colors: transparent !important;
  -moz-border-left-colors: transparent !important;
  -moz-border-right-colors: transparent !important;
  -moz-border-top-colors: transparent !important;*/

}

.radio-select {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}


.rsvp__form__submit-button{
  text-align: left;
}

.btn{
  padding: 15px 30px;
  background-color: #d06060;
}